@keyframes pulse {
    0% {transform: translate(-50%, -50%) scale(1)}
    50% {transform: translate(-50%, -50%) scale(1.2)}
    100% {transform: translate(-50%, -50%) scale(1)}
}

@font-face {
    font-family: 'AutourOne';
    src: url('/AutourOne-Regular.ttf');
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.5em;
    font-family: Arial;
    font-size: 1em;
}

.hidden {
    display: none;
}

.main {
    position: relative;
    font-size: 1em;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 15em;
    transform: translate(-50%, -50%);
    animation: pulse 2s infinite;
}

.app {
    position: relative;
    top: 0;
    width: 100%;
    padding-bottom: 1.5em;
    min-height: 100vh;
    background: var(--background);
    transition: background 0.2s;
}

.app--theme-light {
    --background: #fff;
    --searchBackground: rgba(255, 255, 255, 0.9);
    --menuBackground: #eee;
    --menuBorder: #999;
    --menuKnob: #fff;
    --word: #333;
    --term: #999;
    --definition: #555;
    --synonym: #999;
    --accentLight: rgb(255, 102, 0);
    --accentDark: rgb(226, 90, 0);
}

.app--theme-dark {
    --background: #333;
    --searchBackground: rgba(51, 51, 51, 0.9);
    --menuBackground: #222;
    --menuBorder: #777;
    --menuKnob: #fff;
    --word: #fff;
    --term: #777;
    --definition: #ddd;
    --synonym: #777;
    --accentLight: rgb(253, 73, 214);
    --accentDark: rgb(224, 24, 198);
}

.title {
    margin-bottom: 0;
    text-align: center;
    font-family: 'AutourOne';
    line-height: 1.1em;
    color: var(--accentLight);
}

.subtitle {
    color: var(--definition);
    text-align: center;
    font-family: 'AutourOne';
    font-size: 0.8em;
    margin-top: 0;
}

.search-bar {
    padding-top: 1em;
    background: var(--searchBackground);
    transition: background 0.2s;
}

.search-bar--sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

/* .search-bar--sticky + .words {
    margin-top: 2em;
} */

.search-bar__input {
    display: inline-block;
    width: 100%;
    font-size: 1.5em;
    padding: 0.25em;
    outline: none;
    border: none;
    text-transform: lowercase;
    background: transparent;
    caret-color: var(--accentLight);
    color: var(--word);
    text-align: center;
    border-bottom: 1px solid var(--accentDark);
}
.search-bar__input::placeholder {
    color: var(--term);
}

.words {
    margin-top: 1em;
}

.word-block {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;
}

.word-block:last-child {
    margin-bottom: 0;
}

.word {
    min-width: 7em;
    font-weight: bold;
    color: var(--word);
}

.word-info {

}

.usage-list {

}

.synonym {
    margin-top: 1em;
    color: var(--definition);
}

.synonym:empty {
    margin-top: 0;
}

.synonym:empty:before {
    content: "";
}

.synonym:before {
    content: "synonym";
    color: var(--synonym);
    font-style: italic;
    display: block;
}

.usage {
    margin-bottom: 1em;
}

.usage:last-child {
    margin-bottom: 0;
}

.usage-term {
    font-style: italic;
    color: var(--term);
}

.usage-definition {
    margin: 0;
    color: var(--definition);
}

.nothing-found {
    text-align: center;
    color: var(--term);
}

.menu {
    width: 14em;
    position: fixed;
    top: 0;
    left: -14em;
    background: var(--searchBackground);
    border-right: 1px solid transparent;
    z-index: 2;
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 3em auto 5em;
    color: var(--definition);
    transition: left 0.2s;
}

.menu.menu--active {
    left: 0;
    border-right-color: var(--menuBorder);
}

.menu__close {
    position: absolute;
    top: 0.35em;
    right: -1.8em;
    display: block;
    height: 1.4em;
    width: 1.4em;
    font-size: 2em;
    text-decoration: none;
    padding: 0.2em;
    background: transparent;
    box-sizing: border-box;
    line-height: 1em;
    color: var(--accentDark);
    text-align: center;
    transition: color 0.2s, right 0.2s;
    border: 1px solid transparent;
    z-index: 2;
}

.menu__close:hover {
    color: var(--accentLight);
}

.menu--active .menu__close {
    right: -1.4em;
    background: var(--searchBackground);
    border-color: var(--menuBorder);
    border-left-color: transparent;
}

.menu--active .menu__close:before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    width: 4px;
    height: 100%;
    background: var(--searchBackground);
}

.menu--active .menu__close:after {
    content: "";
    display: block;
    background: transparent;
    top: -0.7em;
    left: 0;
    right: 100vw;
    bottom: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.menu-section {
    width: 100%;
}

.menu__title {
    border-bottom: 1px solid var(--term);
    display: block;
    width: 100%;
    color: var(--word);
    font-family: Arial;
    padding: 0 0 0.3em 0;
    margin: 0.35em 0 0.35em;
}

.menu-section__title {
    color: var(--definition);
    font-weight: 100;
    font-family: Arial;
    margin: 1em 0;
}

.select {
    display: block;
    padding: 0.5em;
    width: 100%;
    color: var(--word);
    border: 1px solid var(--term);
    background: transparent;
}

.select option {
    background: var(--menuBackground);
    color: var(--word);
    border: none;
}

.menu-setting {
    display: block;
    line-height: 1em;
    font-size: 1.1em;
    margin-bottom: 1em;
}

.menu-setting__checkbox {
    display: none;
}

.menu-setting__text {
    position: relative;
    vertical-align: middle;
}

.menu-setting__text:before {
    display: inline-block;
    content: "";
    width: 2em;
    height: 1em;
    margin-right: 0.5em;
    border: 1px solid var(--term);
    border-radius: 3px;
    transition: background 0.2s;
    vertical-align: middle;
    border-radius: 0.5em;
    background: linear-gradient(90deg, var(--accentDark) 50%, var(--term) 50%);
}

.menu-setting__text:after {
    position: absolute;
    left: 0em;
    width: 1.4em;
    height: 1.4em;
    top: calc(-0.1em + 1px);
    border-radius: 0.7em;
    border: 1px solid var(--menuBorder);
    background: var(--menuKnob);
    content: "";
    z-index: 1;
    transition: 0.2s;
    box-sizing: border-box;
}

.menu-setting__checkbox:checked ~ .menu-setting__text:after {
    left: 0.8em;
}

.content {
    position: relative;
    max-width: auto;
    margin: 0 auto;
    padding: 2em 0 1em;
    border-bottom: 1px solid var(--term);
}

.footer {
    
    align-self: self-end;
    margin-top: 1em;
    padding: 1em 0 0;
    border-top: 1px solid var(--term);
    text-align: center;
    color: var(--term);
}

.footer a {
    color: var(--accentLight);
}

@media screen and (min-width: 1367px) {
    .content {
        width: 40%;
    }
}
@media screen and (max-width: 1366px) {
    .content {
        width: 50%;
    }
}
@media screen and (max-width: 1280px) {
    .content {
        width: 60%;
    }
}
@media screen and (max-width: 1024px) {
    .content {
        width: 70%;
    }
}
@media screen and (max-width: 640px) {
    .content {
        width: 80%;
    }
}
@media screen and (max-width: 480px) {
    .content {
        width: 90%;
    }
}
